body{
	padding-top: 40px;
    position: relative;
}
.ng-cloak {
  /* this will change to block when scope and angular is ready */
  display:none;
}
.breaker{
	clear:both;
}
h3, h4{
	margin-top:10px;
	margin-bottom:10px;
}

.leaflet-popup-content p {
	margin : 0px !important;
}
.even{
	background-color:#F5F5F5;
}
#searchForm {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}
#searchForm label{
	display:block;
	text-align: center;
}
#searchForm div {
	text-align: center;
    width: 100%;
}
h2{
	font-size:21px;
	line-height:21px;
	text-align: center;
}
.content h3{
	font-size:18px;
	font-weight: normal;
	border-bottom: 1px solid #DDDDDD;
}
.content h4{
	border-bottom: 1px solid #DDDDDD;
	font-weight:normal;
}
.content h5{
	margin:0;
}
#loading{
	background-color: #FFFFFF;
    position: fixed;
    top: 40px;
    left: 23px;
}
div#map{
	margin:0;
	padding:0;
	z-index:0;
	min-height: 500px;
	background-color:#bed0de;
	cursor: pointer;
}
header.subhead{
	padding:0 30px;
}
header h3{
	text-align: center;
}
.selected{
	font-weight: bolder;
}
.facet ul li {
	display: block;
	float: left;
	margin : 0 10px;
}
#position{
	float:right;
}

#position label {
	display: inline;
	padding:15px;
}
form.form-search{ margin:0;}
footer p { text-align: center; }